@model tz_tubes.Models.Pipe

@{
    ViewData["Title"] = "Home Page";
}
<h1> Приложение для учета труб </h1>

<h3> Написать программу ввода данных по трубам. </h3>
<h3> 	Обязательные данные: №трубы, качество(годная/брак), марка стали (выбор из справочника), размеры, вес</h3>
<h3> Просмотр/добавление/удаление/редактирование данных</h3>
<h3> Должна быть строка с итоговыми данными (общее количество, количество годных/брака, общий вес)</h3>
<h3> Возможность фильтрации данных</h3>
<h3> Строки с качеством «Брак» выделить красным цветом.</h3>
<h3> Реализовать возможность объединения труб в пакеты (обязательные поля № и дата пакета).</h3>
<h3> Добавление труб в пакеты, редактирование пакетов, удаление труб из пакета и самих пакетов.</h3>
<h3> Должны быть контроли на вводные данные (для числовых значений, для даты, на пустые значения).</h3>
<h3> Программа может быть многопользовательской</h3>
<h3> Нельзя удалять/редактировать данные трубы, которая находится в пакете. </h3>
